<h1>All Discussions for Project <%= @project.title %></h1>
<% @discussions.each do |discussion| %>
  <div>
    <%= link_to discussion.title, project_discussion_path(@project, discussion) %>
  </div>
<% end %>

<%# new discussion form %>
<%= form_for @discussion, url: project_discussions_path(@project), html: {class: "form"} do |f| %>
  <h2> New Discussion </h2>
  <div class="form-group">
    <%= f.label :title, "Title", class: "control-label" %>
    <%= f.text_area :title, class: "form-control" %>
  </div>

  <div class="form-group project-discussion">
    <%= f.label :body, "Body", class: "control-label" %>
    <%= f.text_area :body, class: "form-control project-discussion__textarea" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Discussion", class: "btn btn-primary" %>
  </div>
<% end %>
