<h1> Project Discussion: <%= @discussion.project.title %></h1>
<h2><%= @discussion.title %></h1>
<p><%= @discussion.body %></p>
<%= link_to "Edit", edit_project_discussion_path(@discussion.project, @discussion) %>
|
<%= link_to "Delete", project_discussion_path(@discussion.project, @discussion), method: :delete,
                                  data: {confirm: "Are you sure?"}%>
|
<%= link_to "Back to Discussions", project_discussions_path(@discussion.project) %>
|
<%= link_to "Back to Project", project_path(@discussion.project) %>


<hr>
<%= @comment.errors.full_messages.join(", ") %>
<hr>

<h2>Comments</h2>
<%# partil review is defined in review/_review.html.erb %>
<%= render @discussion.comments.order('created_at DESC') %>

<h2>New Comment</h2>
<%= form_for @comment, url: discussion_comments_path(@discussion), html: {class: "form"} do |f| %>

  <div class="form-group discussion-comment">
    <%= f.label :body, "Comment", class: "control-label" %>
    <%= f.text_area :body, class: "form-control discussion-comment__textarea" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Comment", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
