<h1>Edit Task</h1>

<%= @task.errors.full_messages.join(", ") %>

<%= form_for @task do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>
  
  <div>
    <%= f.label :due_date %>
    <%= f.datetime_field :due_date %>
  </div>

  <%= f.submit %>

<% end %>
